<div class="main">
    <div class="welcome-wrapper">
        <h3 class="main-title">
            Hello! Now you can see all feeds!
        </h3>
        <a href="/" class="logout-button">Log Out</a>
    </div>

    <a href="" class="button add-button">Add New</a>
    <div class="feeds-wrapper">
        <div class="feed-item">
            <p class="feed-name">One</p>
            <a href="/" class="delete-button">Delete feed</a>
        </div>

        <div class="feed-item">
            <p class="feed-name">Two</p>
            <a href="/" class="delete-button">Delete feed</a>
        </div>

        <div class="feed-item">
            <p class="feed-name">Three</p>
            <a href="/" class="delete-button">Delete feed</a>
        </div>
    </div>
</div>