<div class="main">
    <div class="welcome-wrapper">
        <h3 class="main-title">
            Hello! Now you can see all feeds!
        </h3>
        <a class="logout-button" (click)="userLogout()">Log Out</a>
    </div>

    <a class="button add-button" (click)="addNewFeed()">Add New</a>
    <div class="feeds-wrapper">
        <app-feed *ngFor="let feedItem of feeds" [feed]="feedItem"></app-feed>
    </div>

    <app-create-new-feed *ngIf="createNewFeed" (feedAdd)="addNewFeedToList($event)"></app-create-new-feed>
</div>